
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

Mastil {
    display: flex;
    justify-content: center;
}

Card {
    display: flex;
    justify-content: center;
}


.footer a:hover {
    text-decoration: underline;
}

.footer .logo {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 35px;
    vertical-align: middle;
    margin-left: 8px;
}
.footer {
    background-color: black;
    color: grey;
}